{% load static %}

<head>
  <title>imearch</title>

  <meta charset="utf-8">
  <meta name="author" content="Martin Suchan & Karel Vrabec">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="icon" href="{% static 'favicon.png' %}" />

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>

  <style>
    html, body
    {
      height: 100%;
      background-color: #dce5fc;
    }
    input[type="file"]
    {
      background-color: #ebebeb;
    }
  </style>
</head>
