{% load static %}

<div class="uk-section uk-text-center uk-padding-remove-top">
  <p>Fill in the following form and search for similar images in our database</p>
  <div class="uk-flex uk-flex-center uk-child-width-1-3@m" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <form action="{% url 'results' %}" method="post" enctype="multipart/form-data">

          {% csrf_token %}

          {{ form.non_field_errors }}
          <div class="uk-margin">
              {{ form.imageInput.errors }}
              <div class="uk-margin-small-bottom">
                <label for="{{ form.imageInput.id_for_label }}">{{ form.imageInput.label }}</label>
              </div>
              {{ form.imageInput }}
          </div>
          <div class="uk-margin">
              {{ form.saveToDBInput.errors }}
              {{ form.saveToDBInput }}
              <label for="{{ form.saveToDBInput.id_for_label }}">{{ form.saveToDBInput.label }}</label>
          </div>

          <button class="uk-button uk-button-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
